*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.patrick-hand-sc-regular {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    width: 100%;
    min-height: 100svh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    /* grid-template-rows: repeat(4, 1fr); */

    align-items: center;

    /* background: linear-gradient(#AFC2BE, #C1D8C8); */
    /* background: linear-gradient(#e4c8ef, #cac5ea); */
    background: linear-gradient(#CAE0FF,#EEE 40%);
    padding: 1rem 2rem;
}

h1 {
    grid-column: 1 / 4;
    font-size: 3rem;
    justify-self: center;
    align-self: flex-start;
}

h2 {
    text-align: center;
    font-size: 1.4rem;
 }

.description {
    text-align: center;
}

.garden {
    grid-column: 1 / 4;
    width: 100%;
    /*-webkit-filter: drop-shadow(0 5px 5px #20202040);
    filter: drop-shadow(0 5px 5px #20202040);
    margin-top: -2rem;*/
}

.content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
}

.content {
    grid-column: 1 / 4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.content span {
    display: none;
}

.links {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px 1fr;
    column-gap: 10px;
    row-gap: 1rem;
    width: 100%;
}

.links span {
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    place-self: center;
}

.itchio {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    place-self: center;
}

.itchio svg {
}

.steam {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    place-self: center;

    opacity: 50%;
}

.twitter {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    place-self: center;
}

.twitter svg {
}



a, a:visited {
    color: #a48352;
}

#pop-up {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    padding: 1rem;
    /* background-color: #6b8e68; */
    background-color: #aebc89;
    color: #f4f3e6;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    width: calc(100vw - (2*1rem));
    max-width: 500px;

    display: grid;
    grid-template-columns: 1fr 15px;
    grid-template-rows: 1fr;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    gap: 1rem;

    visibility: hidden;
    opacity: 0;
}

#pop-up.error {
    background-color: #ea8c84;
}

#cross {
    grid-column: 2/3;
    grid-row: 1/2;

    justify-self: flex-end;
}

#pop-up span {
    grid-column: 1/2;
    grid-row: 1/2;
}

.show-up {
    animation: show-up .25s ease-out;
    animation-fill-mode: forwards;
}

@keyframes show-up {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

.hide {
    animation: hide-pop-up .25s ease-out;
    animation-fill-mode: forwards;
}

@keyframes hide-pop-up {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

@media (min-width: 768px) {
    body {
        grid-template-columns: repeat(6, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
    }

    h1 {
        grid-column: 2 / 6;
        font-size: 5rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .description {
        font-size: 1.3rem;
    }

    .garden{
        grid-column: 2 / 6;
        margin-top: -10rem;
    }

    .content {
        grid-column: 2 / 6;
        gap: 2rem;
    }

    .content span {
        display: block;
    }

    .links {
        grid-column: 1 / 7;
        row-gap: 2rem;
        grid-template-columns: repeat(6, 1fr);
    }

    .links span {
        grid-column: 1 / 7;
        font-size: 1.3rem;
    }

    .itchio {
        grid-column: 2 / 3;
    }

    .itchio svg {
        width: 70px;
        height: 70px;
    }

    .steam {
        grid-column: 3 / 5;
        width: 70px;
        height: 70px;
    }

    .twitter {
        grid-column: 5 / 6;
    }

    .twitter svg {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 1200px) {
    body {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    h1 {
        align-self: center;
        grid-column: 8 / 12;
        grid-row: 1 / 2;
        font-size: 9rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .garden {
        grid-column: 2 / 6;
        grid-row: 1 / 4;
    }

    .content {
        grid-column: 8 / 12;
        grid-row: 2 / 3;
        gap: 4rem;
    }

    .content span {
        font-size: 1.5rem;
    }

    .links {
        grid-column: 7 / 13;
        grid-row: 3 / 4;
        row-gap: 3rem;
    }

    .links span {
        font-size: 1.5rem;
    }
}
