*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-family: 'Caveat', cursive;
    color: #342A21;
}

body {
    width: 100%;
    height: 100svh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);

    background-color: #f7f3ef;
    padding: 1rem;
}

.cell {
    margin: 1rem;
    border-radius: 20px;
    background-color: #efe9dc;
    padding: 1rem;
    display: grid;
    place-content: center;
    position: relative;
}

.cell:has(img) {
    display: block;
}

#background {
    grid-column: 1/4;
    grid-row: 3/7;
}

#background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 8rem;
}

#title {
    grid-column: 1/4;
    grid-row: 1/3;
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
}

#description {
    grid-column: 1/4;
    grid-row: 7/9;
}

#description span {
    font-size: 3rem;
}

.cell.entry {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1rem;
    min-height: 225px;
}

.grow {
    transition: all .15s ease-out;
}

.grow:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 0 20px #342A2130;
}

a, a:visited {
    color: #342A21;
}

div:has(#email-input) {
    grid-column: 1/3;
    grid-row: 9/10;
    display: block;
}

#email-input {
    border: none;
    background-color: #efe9dc;
    font-size: 2.5rem;
}

div:has(#email-input):after {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 90%;
    height: 5px;
    background-color: #342A21;
    border-radius: 20px;
}

#email-input:active,
#email-input:focus {
    border: 2px solid #342A21;
}

#email-button {
    grid-column: 3/4;
    grid-row: 9/10;

    background-color: #342A21;
    border: none;
    color: white;

    font-size: 2.5rem;
}

#email-input input::placeholder {
   color: #342A2160;
}
